/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	border: 0;
	font: inherit;
	font-family:monospace;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
/* End of Eric Meyer's CSS Reset */

html, body { height: 100%; }

.wrapper {
	/* background-color: #2196F3; */
  display: grid;
	/* stylelint-enable */
	/* csslint ignore:start */
	grid-gap: 10px;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 1fr 17fr 2fr;
	/* stylelint-dsiable */
	/* csslint ignore:end */
	height: 100%;
	width: 100%;
}

.schedule {
	height: 100%;
  width: 100%;
}

/* .inner-box {
  background-color: rgba(255, 255, 255, 0.8);
} */

.middle-box {
	align-items: flex-start;
  display: flex;
  flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
}

.calender {
	height: 100%;
	max-height: 33vw;
  width: 100%;
}

.calender:focus {
	height: 90vh;
	left: calc(50% - 37.5vw);
  position: fixed;
	top: calc(50% - 45vh);
	width: 75vw;
	z-index: 300;
}

.full-width {
  grid-column: 1 / 4;
}

.notepad {
	bottom: 0;
  height: 10%;
  left: 0;
	position: absolute;
  resize: none;
	transition: height 1s;
	width: calc(100% - 6px);
}

.notepad:hover,.notepad:focus {
  height: 25%;
}

.header-text {
	display: inline-block;
  font-family: monospace;
  font-size: 25px;
  font-weight: bold;
}

.below-header {
  font-family: monospace;
  font-size: 1em;
}

.sidebar-div {
  overflow: hidden;
}

.opener {
  display: none;
}

label + label {
  cursor: pointer;
}

.opener + label {
	background:url(/images/arrows.png) left top no-repeat;
	cursor: pointer;
  display: inline-block;
	height:19px;
  width:19px;
}

.opener:checked + label {
  background-position: -19px top;
}

.expanding {
	max-height: 0;
  overflow: hidden;
}

.opener:checked ~ .expanding {
  max-height: 100px;
}

.daye {
	background: url(/images/callie.png);
	background-color: gray;
	background-size: auto 100%;
	color: white;
	font-size: 2em;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
