/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	border: 0;
	font: inherit;
	font-family:monospace;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
/* End of Eric Meyer's CSS Reset */

.daye {
	background: url(../images/callie.png);
	background-size: auto 100%;
	font-size: 2em;
	background-color: gray;
	color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.header-text {
	display: inline-block;
  font-family: monospace;
  font-size: 25px;
  font-weight: bold;
}

.below-header {
  font-family: monospace;
  font-size: 1em;
  padding: 0 0 0 0;
}

.sidebar-div {
  overflow: hidden;
}

.opener {
  display: none;
}

label + label {
  cursor: pointer;
}

.opener + label {
	background:url(../images/arrows.png) left top no-repeat;
	cursor: pointer;
  display:inline-block;
	height:19px;
  width:19px;
}

.opener:checked + label {
    background-position: -19px top;
}

.expanding {
	max-height: 0;
  overflow: hidden;
}

.opener:checked ~ .expanding {
  max-height: 100px;
}

.year-schedule {
	height: 400px;
  width: 100%;
}

.year-schedule:focus {
	height: 600px;
	left: calc(50% - 300px);
  position: fixed;
	top: calc(50% - 300px);
	width: 600px;
	z-index: 300;
}

.schedule{
	height: 100%;
	width: 100%;
}

.wrapper {
	min-width: 1340px;
	width: 100%;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 50px;
}


/* Middle
-----------------------------------------------------------------------------*/
.middle {
	bottom: 140;
	height: 100%;
	position: relative;
	width: 100%;
}
.middle:after {
	clear: both;
	content: '';
	display: table;
}
.container {
	float: left;
	overflow: hidden;
	width: 100%;
}
.content {
	height: calc(46vw * 0.6);
	left: 27vw;
	padding: 0 0 0 0;
	position: relative;
	width: 46vw;
}


/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
	float: left;
	margin-left: -100%;
	position: relative;
	width: 350px;
}


/* Right Sidebar
-----------------------------------------------------------------------------*/
.right-sidebar {
	float: left;
	margin-left: -350px;
	position: relative;
	width: 350px;
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
	bottom: 0;
	height: 50px;
	position: fixed;
	transition: height 1s ease-out;
	width: 100%;
}

.footer:hover {
  height: 30%;
}

.footer:focus-within {
  height: 30%;
}
