/*Table*/
.tg {
    border-collapse:collapse;
    border-spacing:0;
    margin:1px auto;
}
.tg td {
    font-family:monospace;
    font-size:14px;
    padding:10px 5px;
    border-style:solid    ;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
}
.tg th {
    font-family:monospace;
    font-size:14px;
    font-weight:normal;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
}
.tg .tg-ylws {
    font-size:100%;
    background-color:#6434fc;
    color:#ffffff;
    text-align:right;
    vertical-align:top
}
.tg .tg-x5m0 {
    background-color:#c0c0c0;
    text-align:right;
    vertical-align:top
}
.tg .tg-l1xi {
    background-color:#6434fc;
    color:#ffffff;
    text-align:center
}
.tg .tg-lqy6 {
    text-align:right;
    vertical-align:top
}
.tg .tg-8s67 {
    background-color:#6434fc;
    color:#ffffff;
    text-align:right;
    vertical-align:top
}
