.schedule-base {
  background-color: #ffffff;
  border-collapse: collapse;
  border-spacing: 0;
  height: 100%;
  margin: 0;
  width: 100%;
}

.schedule-base td,
th {
  border-style: solid;
  border-width: 1px;
  font-size: 1.8em;
  overflow: hidden;
  padding: 2px 5px;
  text-align: right;
}

.schedule-base .small {
  font-size: 1.3em;
}

.schedule-base .header {
  background-color: #1627f3;
  color: #ffffff;
}

.schedule-base .alternate {
  background-color: #60b0fb;
}
