.hamburger {
  padding: 10px 5px 5px 5px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger:focus:hover {
  opacity: 0.7;
}

.hamburger:focus .hamburger-inner,
.hamburger:focus .hamburger-inner::before,
.hamburger:focus .hamburger-inner::after {
  background-color: #fff;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}


/*
   * Vortex
   */
.hamburger--vortex .hamburger-inner {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.hamburger--vortex .hamburger-inner::before,
.hamburger--vortex .hamburger-inner::after {
  transition-duration: 0s;
  transition-delay: 0.1s;
  transition-timing-function: linear;
}

.hamburger--vortex .hamburger-inner::before {
  transition-property: top, opacity;
}

.hamburger--vortex .hamburger-inner::after {
  transition-property: bottom, transform;
}

.hamburger--vortex:focus .hamburger-inner {
  transform: rotate(765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.hamburger--vortex:focus .hamburger-inner::before,
.hamburger--vortex:focus .hamburger-inner::after {
  transition-delay: 0s;
}

.hamburger--vortex:focus .hamburger-inner::before {
  top: 0;
  opacity: 0;
}

.hamburger--vortex:focus .hamburger-inner::after {
  bottom: 0;
  transform: rotate(90deg);
}

body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: black;
}

.container {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto auto auto auto 11%;
  grid-gap: 10px;
  padding: 0;
  border: 5px solid black;
  height: 100vh;
  width: 100vw;
}

.input {
  box-sizing: border-box;
  position: relative;
  resize: none;
  border: 3px solid;
  padding: 0;
  margin: 0;
}

.input:focus-within {
  background-color: #0A0A0A;
  outline: 3px solid;
}

textarea {
  padding: 4px;
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  color: inherit;
  font-family: monospace;
  width: 100%;
  height: 100%;
  font-size: 1em;
}

::placeholder {
  color: green;
}

.week {
  grid-column: 5 / 6;
  grid-row: 1 / 3;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
}

.links {
  display: flex;
  flex-direction: column-reverse;
  width: 50px;
  position: absolute;
  bottom: 0;
  right: 0;
  height: aut0;
  transform: scale(.8);
  transform-origin: bottom right;
}

.link {
  font-size: 0;
  display: box;
  height: 0;
  padding: 0;
  margin: 0;
  transition: height .5s;
  overflow: hidden;
}

.link>img {
  width: 100%;
  padding: 0;
  margin: 0;
}

.hamburger:focus {
  outline: none;
}

.hamburger:focus~.link {
  height: 50px;
}
